@{
    ViewBag.Title = "Home Page";
}

@model TaskBoard.Models.Singleton

<div class="input-group mb-3">
    <div class="input-group-prepend">
        <label class="input-group-text" for="groupSelection">Group: </label>
    </div>
    <select class="custom-select" id="groupSelection">
        @foreach (var group in Model.Groups)
        {
            <option value="@Html.DisplayFor(item => group.ID)">@Html.DisplayFor(item => group.Name)</option>
        }
    </select>
    <div class="input-group-append">
        <button class="btn btn-secondary" id="addGroupButton" type="button"><span class="fa fa-user-plus"></span></button>
    </div>
    <div class="input-group-append" id="groupForm">
        <input type="text" class="form-control" style="border-radius: 0;"  placeholder="Group Name" aria-label="Group Name">
        <div class="input-group-append">
            <button class="btn btn-secondary" style="border-top-left-radius: 0; border-bottom-left-radius: 0;"  type="button" id="groupFormButton">Confirm</button>
        </div>
    </div>
    

</div>

<div class="row" id="boardContainer">
    @foreach (var board in Model.Boards)
    {
        <div class="card shadow" boardID="@Html.DisplayFor(item=>board.ID)">
            <div class="card-header">
                <span class="h4 card-title" contenteditable="true">@Html.DisplayFor(item => board.Title)</span>
                <span name="lockIcon"
                      data-toggle="tooltip"
                      data-placement="top"
                      title="Click to unlock" class="fa fa-2x fa-lock pull-right"></span>
                <span name="unlockIcon"
                      data-toggle="tooltip"
                      data-placement="top"
                      title="Click to lock"
                      class="fa fa-2x fa-unlock pull-right"></span>
            </div>
            <div class="card-body">
                <p contenteditable="true" class="card-text">@Html.DisplayFor(item => board.Body)</p>
                <span data-toggle="tooltip"
                      data-placement="top"
                      title="Delete board"
                      class="fa fa-2x fa-trash-alt text-danger pull-right">
                </span>
            </div>
        </div>
    }
    <div class="card text-center shadow-lg" id="newBoard"><span class="fa fa-plus" id="newBoardIcon"></span></div>


</div>